//首页样式
.m-swipe {
	height: 3rem;
	width: 100%;
	.m-swipe-content {
		width: 100%;
		height: 100%;
	}


	.mint-swipe-indicators {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		left: 90%;
		bottom: 0.1rem;
		width: 1.4rem;

		.mint-swipe-indicator {
			width: 0.28rem;
			height: 0.28rem;
			background: transparent;
			box-sizing: border-box;
			border: 0.05rem solid white;
			opacity: 1;
			margin: 0 0.04rem;
		}

		.is-active {
			background: white;
		}
	}
}























